{% extends 'base.html' %} {% load static %} {% block content %} {% block title%}

<title>Aarav Properteez | Add Property page</title>
{% endblock title %}
{% block addpropertyactive %}active{% endblock addpropertyactive %}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

{% if user.is_authenticated %}
<div class="container">
    <h3>Add Residential Property</h3>
    <br />
    <form id="form" method="post" action="" enctype="multipart/form-data">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        {% csrf_token %}
        <!-- {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %} -->
        {% for form in postForm %}
        <div class="col-md-12 mb-3">
            <div class="form-group row">
                {{form.label}}:
                <div class="col-sm-10">{{ form }} <br /></div>
            </div>
        </div>
        {% endfor %} {{ formset.management_form }} {% for form in formset %}
        {{form}}
        <br />
        {% endfor %}
        <br />



        <input type="submit" name="submit" class="btn btn-a" value=" Add this Commercial property" />
    </form>
</div>

{% else %}
<div class="container">
    <h3>You've not logged into Your account</h3>
    <h5>Kindly Log In</h5>
    <button><a href="../login" color="blue">here...!<a /></button>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endif %}


{% endblock content %}