{% extends 'base.html' %} {% load static %}

{% block title %}
<title>Aarav Properteez | Commercial Properties</title>
{% endblock title %}

{% block propertyactive %} active{% endblock propertyactive %}


{% block content %}
{% if allProperties %}
<!--/ Intro Single start /-->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Our Amazing Properties</h1>
          <span class="color-text-a">Grid Properties</span>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="../">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Properties Grid
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!--/ Intro Single End /-->

<hr>


{% for property in allProperties %}
<div class="container">
  <div class="row">
    <div class="col-md-9 mx-auto">
      <div class="card-box-a card-shadow">
        <div class="img-box-a">
          <img src="{{property.main_image.url}}" alt="" class="img-a img-fluid">
        </div>
        <div class="card-overlay">
          <div class="card-overlay-a-content">
            <div class="card-header-a">
              <h2 class="card-title-a">
                <a href="../commercial/{{ property.sno }} "></a>{{property.title}}
                <br /> {{property.location}}</a>
              </h2>
            </div>
            <div class="card-body-a">
              <div class="price-box d-flex">
                <span class="price-a">{{property.sell_or_rent}} | ₹ {{property.price}}</span>
              </div>
              <a href="../commercial/{{ property.sno }} " class="link-a">Click here to view
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
            <div class="card-footer-a">
              <ul class="d-flex justify-content-center">
                <li>
                  <h4 class="card-info-title">Area</h4>
                  <span>{{property.area}}
                    m<sup>2</sup>
                  </span>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<hr>
<br>
{% endfor %}
{% else %}
<div class="container">
<br>
<br>
<br>
<h3 text-align="center">
Oops...
<br>

There are not any Commercial properties for now...
</h3>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>
{% endif %}
{% endblock content %}