{% extends 'base.html' %} {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}

  <title>Aarav Properteez | Home page</title>
  {% endblock title %}
</head>

<body>

  {% block homeactive %}active{% endblock homeactive %}
  {% block content %}
  <!--/ Carousel Star /-->
{% if mainpagecomm_Properties %}
  <div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
      {% for property in mainpagecomm_Properties %}
      <div class="carousel-item-a intro-item bg-image" style="background-image: url('{{property.main_image.url}}')">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">
                      {{property.location}}
                    </p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">{{property.title}}
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="../commercial/{{ property.slug }} "><span class="price-a">{{property.sell_or_rent}} | ₹
                          {{property.price}}</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

  <!--/ Carousel end /-->



  <!--/ Property Star /-->
{% if mainpageresi_Properties %}
  <section class="section-property section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Latest Properties</h2>
            </div>
            <div class="title-link">
              <a href="../">All Property
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="property-carousel">
        {% for property in mainpageresi_Properties %}

        <div class="container">
          <div class="row">
            <div class="col-md-9 mx-auto">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="{{property.main_image.url}}" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="../commercial/{{ property.slug }} "></a>{{property.title}}
                        <br /> {{property.location}}</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a">{{property.sell_or_rent}} | ₹ {{property.price}}</span>
                      </div>
                      <a href="../residential/{{ property.slug }} " class="link-a">Click here to view
                        <span class="ion-ios-arrow-forward"></span>
                      </a>
                    </div>
                    <div class="card-footer-a">
                      <ul class="d-flex justify-content-center">
                        <li>
                          <h4 class="card-info-title">Area</h4>
                          <span>{{property.Area}}
                            m<sup>2</sup>
                          </span>
                        </li>

                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <hr>
        <br>
        {% endfor %}
      </div>
  </section>
  {% else %}
    <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">We Do Great Design For Creative Folks</h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                About
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
   <section class="section-about">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="about-img-box">
            <img src="../static/img/slide-about-1.jpg" alt="" class="static/img-fluid" width="100%">
          </div>
          <div class="sinse-box">
            <h3 class="sinse-title">EstateAgency
              <span></span>
              <br> Sinse 2017
            </h3>
            <p>Art & Creative</p>
          </div>
        </div>
       
      </div>
    </div>
  </section>
{% endif %}
  <!--/ Property End /-->

  {% endblock content %}
</body>

</html>